html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pointer{
    cursor: pointer;
}

.car-color{
    width : 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 50%;
}

.car-logo{
    height: 30px;
}

.cus-card-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.cus-card{
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    
}

.cus-h{
    font-family: 'High Tower Text';
    font-size: x-large;
    
}

.spec-img img{
    height: 100px;
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.theme-color {
    background-color: #6D6E72;
    color: #fff;
}

.theme-span{
    font-size: medium;
    font-weight: bold;
}
.block{
    display: inline-block; 
}

.cert-del span, h6{
    font-size: medium;
    
}

a:hover{
    color: green;
}

.footer-img{
    width: 150px;
}

.footer .fac{
   
    color: cornsilk;
}
.fac i:hover{
    color: darkblue;
}

.footer .msn{
    
    color: purple;
}
.msn i:hover{
    color: blue;
}

.footer .em{
   
    color: orange;
}
.em i:hover{
    color: burlywood;
}

.footer i{
    font-size: 30px;
}