@using LO.CD.Web.Models.Branches
@model IEnumerable<BranchViewModel>

@{
	ViewData["Title"] = "List";
}

<div class="container view">
	<h1>Branch List</h1>

	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Address)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>

					<a class="text-decoration-none px-3 text-danger pointer" data-bs-toggle="modal" data-bs-target="#exampleModal_@item.Id">
						<i class="fa-solid fa-trash" data-bs-toggle="tooltip" data-bs-title="Delete" ></i>
					</a>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Delete</h5>
									<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<h6>Are you sure you want to delete <span class="text-danger">@item.Address </span> ?</h6>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
									<form asp-action="Delete">
										<input type="hidden" value="@item.Id" name="id" />
										<input type="submit" value="Delete" class="btn btn-danger" />

									</form>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
