@{
	ViewData["Title"] = "BEBSINCO";
}

<div class="bg-black">
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-6 text-white ps-5 pt-5">

				<h1 class="pb-3">WELCOME TO BEBSINCO</h1>

				<h4>DEALERSHIP.</h4>

				<p class="py-5">
					The BMW 7 series model range has represented the embodiment of ultimate comfort,
					authoritative presence and exceptional performance since its earliest days.
					Offering a vast array of individual design options and far-reaching technical innovations,
					it epitomises the BMW approach to the luxury class.
					The new BMW 7 series builds on this tradition with a quantum leap in terms of size and design.
				</p>
				<hr />
				<button type="button" class="btn btn-primary btn-lg my-4">Sign In</button>

			</div>
			<div class="col-lg-6 px-0">
				<img height="500px" width="674px" src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_767,h_511,q_auto,c_fill,f_auto,fl_lossy/auto-client/222acd08850ccf7326047b5843f0feec/di21_000048056.jpg" alt="a Car" />
			</div>
		</div>

	</div>

</div>

<div class="container-fluid">
	<div class=" text-center pt-5 mt-5">
	<h1 class="font-monospace">A GRAND ENTRANCE.</h1>
	<p class="fst-italic">
		The new front-end design of the new 7 gives BMW luxury-class vehicles a striking and progressive face.
		Separated front lights and the strikingly illuminated kidney grille as design icons create the “Grand Entrance”
		experience as you approach the car.
	</p>
	</div>
	<div>
		<img src="https://images.netdirector.co.uk/gforces-auto/image/upload/q_auto,c_crop,f_auto,fl_lossy,x_0,y_1690,w_8977,h_2990/w_1329,h_443,c_fill/auto-client/6a677b8587f83667316ff4a96f565a38/microsoftteams_image_4_.png" alt="BMW" />
	</div>
</div>
