@{
	ViewData["Title"] = "BEBSINCO";
}

<div class="bg-black">
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-6 text-white ps-5 pt-5">

				<h1 class="pb-3">WELCOME TO BEBSINCO</h1>

				<h4>DEALERSHIP.</h4>

				<p class="py-5">
					The BMW 7 series model range has represented the embodiment of ultimate comfort,
					authoritative presence and exceptional performance since its earliest days.
					Offering a vast array of individual design options and far-reaching technical innovations,
					it epitomises the BMW approach to the luxury class.
					The new BMW 7 series builds on this tradition with a quantum leap in terms of size and design.
				</p>
				<hr />
				<button type="button" class="btn btn-primary btn-lg my-4">Sign In</button>

			</div>
			<div class="col-lg-6 px-0">
				<img height="500px" width="674px" src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_767,h_511,q_auto,c_fill,f_auto,fl_lossy/auto-client/222acd08850ccf7326047b5843f0feec/di21_000048056.jpg" alt="a Car" />
			</div>
		</div>

	</div>

</div>

<div class="container-fluid">
	<div class=" text-center pt-5 mt-5">
		<h1 class="font-monospace">A GRAND ENTRANCE.</h1>
		<p class="fst-italic">
			The new front-end design of the new 7 gives BMW luxury-class vehicles a striking and progressive face.
			Separated front lights and the strikingly illuminated kidney grille as design icons create the “Grand Entrance”
			experience as you approach the car.
		</p>
	</div>
	<div>
		<img src="https://images.netdirector.co.uk/gforces-auto/image/upload/q_auto,c_crop,f_auto,fl_lossy,x_0,y_1690,w_8977,h_2990/w_1329,h_443,c_fill/auto-client/6a677b8587f83667316ff4a96f565a38/microsoftteams_image_4_.png" alt="BMW" />
	</div>
</div>

<div class="mt-5">
	<div class="container">
		<div class="text-center">
			<h3>REAL PEOPLE WRITING REAL REVIEWS</h3>
			<h5 class="text-muted">Real people like you are writing reviews about <span class="fw-bold">car dealers</span> and <span class="fw-bold">service centers</span>.</h5>
		</div>
		<div class="row mx-5 pt-3">
			<div class="col-sm-4">
				<div class="cus-card">
					<img class="img-thumbnail cus-card-img" src="https://imgd.aeplcdn.com/370x208/n/cw/ec/55567/right-front-three-quarter0.jpeg?wm=1&q=75" />
					<p>alfirdo banan</p>
					<p>
						Sunset Ford of Waterloo did a great job with my car buying experience. Everyone was very helpful and I look forward doing business with...
					</p>
					<p>
						Sunset Ford of Waterloo
					</p>
					<p>
						Waterloo, IL
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="cus-card">
					<img class="img-thumbnail cus-card-img" src="https://southerncoloradoengineeringllc.com/wp-content/uploads/2021/10/home-about-joseph-cary-lovett.jpg" />
					<p>Cynthiahhenderson</p>
					<p>
						Excellent customer service with both the sales and financial staff. Found exactly what I was looking for in my price range.
					</p>
					<p>
						C. Wimberley Ford
					</p>
					<p>
						Dowagiac, MI
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="cus-card">
					<img class="img-thumbnail cus-card-img" src="https://scontent.famm3-1.fna.fbcdn.net/v/t1.6435-9/49597640_2788439708046800_1991600172223692800_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=e40bsVr3aVkAX_ssQsC&_nc_ht=scontent.famm3-1.fna&oh=00_AT9-V32ipOHwgAckp2O8Brd_MNJPZ5s2SiUtvFIyFYNysg&oe=6302408F" />
					<p>john.delgado</p>
					<p>
						I had a great experience with Ahmed. He was excellent to work with. He is straightforward, transparent and caring. I bought ...
					</p>
					<p>
						Precision Acura of Princeton
					</p>
					<p>
						Lawrenceville, NJ
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/17q4/692999/luxury-japan-style-revisiting-the-original-lexus-ls400-feature-car-and-driver-photo-699204-s-original.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/wp-content/uploads/2017/12/1990-Lexus-LS400-105.jpg?resize=980:*" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/wp-content/uploads/2017/12/1990-Lexus-LS400-106.jpg?resize=980:*" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>


<div class="mt-5">
	<div class="container p-5">
		<div class="text-center">
			<h1 class="display-5 fw-bold">VALUED PARTNERS</h1>
			<h2 class="cus-h">Our valued partners utilize DealerRater ratings and reviews on their websites or in their products</h2>
		</div>
		<div class="row">
			<div class="col-md-12 my-4">
				<div class="text-center spec-img">
					<img src="https://www.dealerrater.com/ncdn/s/14.20220718.5/Graphics/assets/logo_cars_dot_com.png" />
					<img src="https://www.dealerrater.com/ncdn/s/14.20220718.5/Graphics/assets/kelley_blue_book.png" />
					<img src="https://cdn.jdpower.com/redesign/jdp-logo.svg" />
					<img src="http://www.autotrader.com/akamai-block/block-images/autotrader-logo-blue.png" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid theme-color pb-4">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-lg-6">
			<div class="container text-center">
				<h2 class="fw-bold text-uppercase pt-4 mb-3">CERTIFIED DEALER PROGRAM</h2>
				<span class="theme-span">DealerRater </span>
				<span>®</span>
				<span class="theme-span">Certified Dealers are committed to:</span>
				<div class="row">
					<div class="col-md-3 cert-del mx-4 text-center block">
						<img src="https://www.dealerrater.com/ncdn/s/14.20220718.5/Graphics/assets/quality_customer_service.png" />
						<h6>QUALITY CUSTOMER SERVICE</h6>
						<span class="mb-5">Monitoring consumer reviews to identify areas in need of improvement</span>
					</div>
					<div class="col-md-3 cert-del mx-3 text-center block">
						<img src="https://www.dealerrater.com/ncdn/s/14.20220718.5/Graphics/assets/integrity_and_transparency.png" />
						<h6>INTEGRITY AND TRANSPARENCY</h6>
						<span class="mb-5">Working with consumers to resolve issues and improve their overall experience</span>
					</div>
					<div class="col-md-3 cert-del mx-4 text-center block">
						<img src="https://www.dealerrater.com/ncdn/s/14.20220718.5/Graphics/assets/learning_best_practices.png" />
						<h6>LEARNING BEST PRACTICES</h6>
						<span class="mb-5">Completing best practices trainings aimed to improve their services</span>
					</div>
				</div>
				<div class="col-lg-5 block my-4 pb-5 text-center">
					<div class="container text-center">
						<img src="https://www.dealerrater.com/ncdn/s/14.20220718.5/Graphics/assets/certified_dealer_badge.png" />
						<span class="text-nowrap">Are you a dealer? <a href="#">Learn more</a></span>
						
					</div>
				</div>
			</div>
		</div>
		<div class=col-md-3></div>
	</div>

</div>

